
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    color: #fff;
    transition: 0.5s;
    
}
.sidebar header{
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid #444;
    text-align: center;
    animation: fadeLeft 1s ease;


}

header p{
    font-size: 10px;
}

.sidebar nav{
    line-height: 1.6;
    text-align: center;
    
}

nav ul{
    list-style: none;
}
nav ul li{
    padding: 10px;
}nav ul li:hover{
    background-color: rgb(74, 75, 75);
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: #ccc;
}


.content{
    margin-left: 250px;
    padding: 20px;
    transition: 0.5s;
    animation: fadeUp 1s ease;

}

#home{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
#home h2{
    font-size: 38px;
}
#home p{   
    font-size: 20px;


}
@keyframes fadeUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}@keyframes fadeLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }

}
    

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
    font-size: 30px;
  }
  .scroller > span {
    position: absolute;
    margin-left: 19px;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    text-align: center;
    
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;

    }
    75% {
      top: -3.6em;
    }
  }




@media  screen and (max-width:768px) {
    .sidebar{
        display: flex;
        height: 20vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    
    
    
    .sidebar ul{
        display: flex;
    }
    .content{
        margin-top: 170px;
        margin-left: revert-layer;
    }
    #home p{
        text-align: center;
    }

    .about-me{
        margin-top: 30px;
    }
    
}
