#skills{
    display: flex;
    margin-top: 70px;
    text-align: center;
    flex-direction: column;
    animation: fadeRight 1s ease;
    
}
#skills h2{
    align-self: flex-start;
}
.skill{
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    animation: fadeRight 1s ease;

}
.skill img{
    margin: 20px;
    width: 100px;
    height: 100px;
}
.skill img:hover{
    position: relative;
    width: 120px;
    height: 120px;
    transition: 1s ease;
}

